<div>
  <!-- Interpolation -->
  <p> Hello {{name.toUpperCase()}}, this is a Basics Angular app </p>
  <p> Hello {{getName()}}, with function as a value </p>
  <p> You are {{age}} years old </p>
  <div>
    <input [value]="imgURL" (keyup)="changeImage($event)">
  </div>

  <app-post [img]="imgURL" (imgSelected)="logImg($event)">
    <h2>Cute Doggos</h2>
  </app-post>

  <div>
    <h1>{{ counter }}</h1>
  </div>
  <!-- Event binding -->
  <button (click)="incrementCounter()">Increment value </button>
</div>